.heading {
  color: var(--main-color);
  margin-bottom: 15px;
  text-align: center;
}

.wrapper {
  width: 400px;
  height: 440px;
  background: transparent;
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.users {
  list-style: none;

  li {
    margin-bottom: 10px;

    &:hover a {
      color: #fff;
    }
  }

  a {
    color: var(--main-color);
    text-decoration: none;
  }
}
